.place__url-link {
  text-decoration: underline;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: inherit;
}

@media screen and (max-width:320px) {
  .place__url-link {
    padding-left: 16px;
    padding-right: 16px;
  }
}
