.cover__overlay {
  width: 100%;
  text-decoration: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 245px 0;
  background-color: rgba(42, 44, 47, .3);
  transition: background-color .5s ease-in-out 0s;
}

.cover__overlay:hover {
  background-color: rgba(42, 44, 47, .8);
}

@media screen and (max-width:1024px) {
  .cover__overlay {
    padding-top: 195px;
    padding-bottom: 195px;
  }
}

@media screen and (max-width:768px) {
  .cover__overlay {
    padding-top: 115px;
    padding-bottom: 115px;
  }
}

@media screen and (max-width:320px) {
  .cover__overlay {
    padding-top: 33px;
    padding-bottom: 33px;
  }
}
