.cover__title {
  max-width: 560px;
  color: rgb(255, 255, 255);
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  margin: 0 0 32px;
}


@media screen and (max-width:530px) {
  .cover__title {
    font-size: 54px;
    line-height: 56px;
  }
}

@media screen and (max-width:420px) {
  .cover__title {
    max-width: 288px;
    font-size: 32px;
    line-height: 35px;
    margin-bottom: 16px;
  }
}
